

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(248, 248, 248);
    background-image: url("../images/greyhouse.jpg");
    background-repeat: no-repeat;
    background-size: 98%;
    background-position-y: 10em;
    background-position-x: center;
}

#navbar {
    background-color: rgb(248, 248, 248);
    color: rgb(15, 15, 15);
    padding: 0.01em;
    display: flex;
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
}

#navbar #title {
    width: 25%;
    display: flex;
}

#navbar #title h1 {
    font-size: 3.5rem;
}

#navbar #title img {
    width: 25%;
}

#navbar #options {
    width: 5%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#navbar #options img{
    width: 50%;
} 

#navbar #options a{
    color: rgb(12, 12, 12);
    text-decoration: none;
}




#mostouterlogin {
    background-color: rgba(255, 255, 255, 0.459);
    padding: 0.5em 0px 2em 0px;
    margin-top: 1em;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 5em;
    box-shadow: 0em 0.1em 0.5em rgba(46, 114, 170, 0.699);
}

#leftlogin{

    background-image: url("../images/forest.jpg");
    background-size: 100%;
    width: 40vh;
    height: 60vh;
    padding: 1em;
    margin-left: auto;
    background-repeat: no-repeat;
    filter: blur(0.5px);
    margin-top: 1em;
}


#rightlogin {
    width: 50%;
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.911);
    margin-right: auto;
    margin-top: 1em;
    height: 60vh;
}

#rightlogin #icon {
    display: flex;
    margin: auto;
    width: 50%;
    margin-bottom: 1.8em;margin-top: 2em;
}

#rightlogin #icon img{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

}

#rightlogin #icon h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0px;
    margin-top: auto;
}


#rightlogin form {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

#rightlogin form input {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    width: 65%;
    font-size: 1.1em;
    border: 0px;
    margin-bottom: 1em;
    border-bottom: 0.1em solid black;
    outline: none;
}


#rightlogin form a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0em;
}

#rightlogin form button {
    width: 35%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    font-size: 1em;
    font-weight: 600;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
    
}
#rightlogin button:hover{
    cursor: pointer;
}

#rightlogin #info {
    margin: auto;
    width: 23%;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 2em;
    border-top: 1px solid black;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 0.5em;
}

#rightlogin #info a {
    text-decoration: none;
}

#rightlogin #info img {
    width: 23%;
    
}

#creator {
    font-size: 1.5em;
    font-weight: 600;
    color:white;
    margin-left: 1em;
}