<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login_style.css">
</head>
<body>

    <div id="navbar">
        <div id="title">
            <img src="../static/images/mountain.png" alt="" srcset="">
            <h1>Hills</h1>
        </div>
        <div id="options">
            <a href="login.html">
                <!-- <img src=""> -->
                <img src="../static/images/user.png"></img>
            </a>
        </div>
    </div>


    <div id="mostouterlogin">
        <div id="leftlogin">
            
        </div>
        <div id="rightlogin">
            <div id="icon">
                <img src="../static/images/lock.png" alt="">
                <h1>Login</h1>
            </div>
            <form >
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="/">Forgot Password?</a>
                <button>Login</button>
            </form>

            <div id="info">
                <a href=".">
                    <img src="../static/images/github.png" alt="no-img" srcset="">
                </a>
                <a href=".">
                    <img src="../static/images/facebook.png" alt="no-img" srcset="">
                </a>
                <a href=".">
                    <img src="../static/images/linkedin.png" alt="no-img" srcset="">
                </a>
            </div>
        </div>

    </div>


</body>
</html>